@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-work {
  background-image: url(imgs/page-turner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  padding-bottom: 4rem;
}

h1 {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  position: absolute;
  bottom: 10px;
  left: 100px;
  color: white;
}

.hero-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero-pic-container img {
  max-width: 400px;
}

.hero-about-container {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.hero-about-container h2 {
  font-size: 2rem;
  font-family: "Playfair Display";
  margin-bottom: 1.5rem;
}

.hero-about-container {
  background-color: white;
  color: rgb(65, 65, 65);
}

.hero-about-container p {
  font-size: 1.2rem;
  font-family: "Roboto";
  margin-bottom: 1rem;
}

.hero-icons {
  align-self: flex-end;
}

.hero-icons i {
  font-size: 1.5rem;
  margin-left: 0.8rem;
}

/* My Work Section */
.work-section h2 {
  padding: 3rem;
  font-size: 2rem;
  font-family: "Playfair Display";
}
.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 2.5rem;
}

.card {
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.card img {
  max-width: 300px;
}

.card-bottom {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
}

.card-bottom h4 {
  font-size: 1.3rem;
  font-family: "Playfair Display";
  margin-bottom: 0.5rem;
}

.card-bottom p {
  color: rgb(65, 65, 65);
}

.work-icons {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 6rem 4rem;
  background-color: rgb(108, 167, 187);
  color: white;
}

footer img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.footer-left h2 {
  font-size: 2rem;
  font-family: "Playfair Display";
  margin-bottom: 1rem;
}

.footer-left p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: "Roboto";
}

address {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.contact-icons {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.contact-icons a {
  text-decoration: none;
  color: white;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  font-size: 1.7rem;
  color: black;
}

/* Media query tablet */
/* Tablet layout */
@media (max-width: 768px) {
  .hero-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  .hero-pic-container {
    position: relative;
    transform: translate(25px, 20px);
    z-index: 2;
  }

  .hero-about-container h2,
  .hero-about-container p {
    text-align: left;
  }

  .work-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0.9rem;
  }

  .card {
    max-width: 100%;
  }
}
